################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Config/FileContentIndex/1190defe-c6be-4450-b784-84a28a6497e4.vsidx
