################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Config/FileContentIndex/1190defe-c6be-4450-b784-84a28a6497e4.vsidx
/.vs/Config/FileContentIndex/769b6791-9ebd-4217-9d3a-001c903e4970.vsidx
/.vs/Config/FileContentIndex/129ce07f-9e94-487c-81a3-4a9bed84b6fb.vsidx
/.vs/Config/FileContentIndex
/.vs/slnx.sqlite
